.search {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search__field {
    width: 30%;
}