/* .header {
    height: 500px;
    background: url('../../commons/palaroidFrame.png') no-repeat;
    background-position: left center;
    background-size: contain;
    background-attachement: fixed;
} */

.header {
    text-align: center;
    position: relative;
    box-shadow: 0px 1px 0px 0px rgb(5, 0, 0);
}

.header__contacts ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 5%;
}

.header__contacts li {
    list-style-type: none;
}

.header__appName {
    font-size: 40px;
    width: 100%;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #333;
    padding-bottom: 15px;
}