@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Akshar', sans-serif;
    font-weight: 300;
}


/* Указываем box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Убираем внутренние отступы */

ul[class],
ol[class] {
    padding: 0;
}


/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}